<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="paso === 1">
    <p>Ingrese su número de cédula para buscar su pregunta de seguridad.</p>
    <ion-item>
      <ion-label position="floating">Cédula</ion-label>
      <ion-input type="text" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-button expand="block" class="ion-margin-top" (click)="obtenerPregunta()">Buscar Pregunta</ion-button>
  </div>

  <div *ngIf="paso === 2">
    <p><b>Pregunta:</b> {{ pregunta }}</p>
    <ion-item>
      <ion-label position="floating">Respuesta secreta</ion-label>
      <ion-input type="text" [(ngModel)]="respuesta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="nuevaClave"></ion-input>
    </ion-item>
    <ion-button expand="block" color="success" class="ion-margin-top" (click)="restablecerClave()">Restablecer Contraseña</ion-button>
  </div>
</ion-content>