<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Menú Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-margin-bottom">
    <ion-card-header>
      <ion-card-subtitle>Panel de Control</ion-card-subtitle>
      <ion-card-title>
        Bienvenido, {{ nombre }} {{ apellido }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ¿Qué acción deseas realizar hoy?
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="secondary" class="ion-margin-top" (click)="abrirAgenda()">
    <ion-icon name="book-outline" slot="start"></ion-icon>
    Gestionar Mis Contactos
  </ion-button>

  <ion-button expand="block" color="danger" fill="outline" class="ion-margin-top" (click)="cerrarSesion()">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    Cerrar Sesión
  </ion-button>

</ion-content>